@import "../../../../theme/application";

.private-content
{
    margin: 0px;
}
.admin-menu
{
    .bm-burger-bars {
        background: @primaryVariant3;
    }
}
.bm-burger-bars {
    background: @palette-light;
}
